body{ padding-top: 40px;padding-bottom: 40px;background-color: #f5f5f5;font-family: 'Hiragino Sans GB', 'Microsoft YaHei';}

.container{
    max-width: 950px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}
.fs-7{
    font-size: 14px;
}
.fs-8{
    font-size: 12px;
}

a {
    color: #337ab7;
    text-decoration: none;
}
.btn-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover{
    background-color: #2e6da4;
}

.alert-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.list{
    list-style: none;
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 14px;
}
.list li{float: left; margin-right: 1em;}