<?php include VIEW_PATH . "/common/header.html" ?>

<div class="container">
    <?php include VIEW_PATH . "/common/title.html" ?>
    <div class="row mt-4">
        <div class="col-md">
            <?php include VIEW_PATH . "/common/tools.html" ?>
            <h5 class="fs-7">请输入要进行 <span class="badge bg-light text-dark"><?=$desc?></span> 编码或解码的字符:</h5>
            <textarea name="text" id="text" class="form-control text mt-3" cols="80" rows="6" placeholder=""></textarea>
            <?php include VIEW_PATH . "/common/operate.html" ?>
            <h5 class="fs-7  mt-3"> <span class="badge bg-light text-dark"><?=$desc?></span>  编码或解码的结果：<span class="float-end fw-bold"><label><input type="checkbox" id="select_all" > 结果自动全选</label></span></h5>
            <textarea name="result" id="result" class="form-control text  mt-3" cols="80" rows="6" placeholder=""></textarea>
            <div id="alert" class="alert alert-info mt-3 fs-7">请在上方第一个文本框中输入要编码/解码的字符。</div>
        </div>
    </div>
    <?php include VIEW_PATH . "/common/copyright.html" ?>



</div>


<?php include VIEW_PATH . "/common/footer.html" ?>
