<div class="row mt-1">
    <div class="col-md text-center">
        <hr>
        <h5><span class="fs-8 text-secondary">Box3.cc</span><span class="fs-8 mx-2 text-secondary">&copy;2021 Powered By Kunkka Wu</span></h5>
        <h5>
            <span class="fs-8 text-secondary">您的IP是：<?=$client_ip?></span>
            <span class="fs-8 mx-2 text-secondary">当前在线人数：<?=$online_users?></span>
            <span class="fs-8 mx-2 text-secondary">累计访问次数：<?=$visit?></span>
        </h5>
    </div>
</div>