<?php include VIEW_PATH . "/common/copyright.html" ?>

</div>
<!--<h5>-->
<!--    <span class="fs-8 text-secondary">您的IP是：<?=$client_ip?></span>-->
<!--    <span class="fs-8 mx-2 text-secondary">当前在线人数：<?=$online_users?></span>-->
<!--    <span class="fs-8 mx-2 text-secondary">累计访问次数：<?=$visit?></span>-->
<!--</h5>-->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279861142'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/stat.php%3Fid%3D1279861142' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>