<input type="hidden" id="target" value="/execute?tool=<?=$title?>">
<div class=" mt-3">
    <button id="format" class="btn btn-primary btn-sm">格式化 (Format)</button>
    <button id="compress" class="btn btn-outline-primary btn-sm">压缩 (Compress)</button>
    <button id="exchange" class="btn btn-outline-primary btn-sm">↕ 交换</button>
    <button id="clear" class="btn btn-outline-primary btn-sm">清空</button>
    <span class="fs-7 ms-1 text-secondary">(编码快捷键：<small><kbd>Ctrl</kbd> + <kbd>Enter</kbd></small> )</span>
</div>