<div class="row mt-1">
    <div class="col-md text-center">
        <a class="fs-8 mx-2 text-secondary" href="https://github.com/wk331100" target="_blank">关于作者</a>
        <a class="fs-8 mx-2 text-secondary" href="/link" >友情链接</a>
        <a class="fs-8 mx-2 text-secondary" href="/history">网站动态</a>
        <a class="fs-8 mx-2 text-secondary" href="http://ifty.tech/" target="_blank">iFTY框架</a>
        <a class="fs-8 mx-2 text-secondary" href="http://www.getcoder.cn/" target="_blank">CPF框架</a>
        <a class="fs-8 mx-2 text-secondary" href="/feedback" >问题反馈</a>
    </div>
</div>