<input type="hidden" id="target" value="/execute?tool=<?=$name?>">
<div class=" mt-3">
    <button id="encode" class="btn btn-primary btn-sm">编码 (Encode)</button>
    <button id="decode" class="btn btn-outline-primary btn-sm">解码 (Decode)</button>
    <button id="exchange" class="btn btn-outline-primary btn-sm">↕ 交换</button>
    <button id="clear" class="btn btn-outline-primary btn-sm">清空</button>
    <span class="fs-7 ms-1 text-secondary">(编码快捷键：<small><kbd>Ctrl</kbd> + <kbd>Enter</kbd></small> )</span>
</div>